.vscode/
.editorconfig

.idea/
*.iml
*.ipr
*.iws

.webstorm/

.metadata/
.settings/
.project
.classpath

.nbproject/

.sublime-project
.sublime-workspace

.atom/

.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.bak
*.map
.github/
node_modules/
build/
coverage/


tests/
src/
tsconfig.json
.npmrc
